$_myCyan: #0CAB93;
$_myDark: #100E17;
$_myTxtColor: #E5E5E6;

body {
    font-family: 'Roboto', sans-serif !important;
    color: $_myTxtColor !important;
}

a {
    color: inherit !important;
    text-decoration: none !important;
}

li {
    list-style-type: none !important;
}

.first-row {
    position: relative;
    min-height: 30vh;
    background: url('../img/home-bg-img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.863);
    }

    .pos-fix {
        z-index: 999 !important;
        top: 0 !important;
        margin: 0;
        padding: 0;
    }

    .ali-menu {
        width: 100px !important;
        height: 30px !important;
        background-color: $_myCyan;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $_myTxtColor;
        border-radius: 5px;
    }

}

.navbar {

    background-color: $_myDark;

    .nav-link {
        font-weight: bold;
        font-size: 15px;
        margin: 0 10px;
        color: $_myTxtColor;

        &:visited {
            color: $_myTxtColor;
        }


    }

    .nav-item {
        // &:hover .nav-link {
        //     color: $_myTxtColor;
        // }

        &:hover {
            color: $_myCyan;
        }
    }

    .navbar-toggler-icon {
        background-color: $_myTxtColor;
        border-radius: 3px;
        padding: 10px;
        border: 2px solid $_myCyan;
    }

}

@media screen and (min-width:1200px) {
    .navbar .nav-item {
        padding: 10px 6px;
        margin-left: 30px;
    }

    .nav-item {
        position: relative;

        &::after {
            content: '';
            position: absolute;
            display: flex;
            width: 0;
            height: 3px;
            background-color: $_myCyan;
            transition: .2s ease-in-out;
            left: 50%;
            border-radius: 50px;
        }

        &:hover:after {
            width: 100% !important;
            left: 0;
        }
    }

    .items-intro {
        h1 {
            font-size: 90px !important;
        }
    }

    .intro-section {
        figure {
            width: 400px !important;
            height: 400px !important;
        }
    }

}

.intro-section {

    figure {
        width: 300px;
        height: 300px;

        img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            border: 13px solid rgba(0, 0, 0, 0.199);
            outline: 10px solid $_myCyan;
            object-fit: cover;
        }
    }
}

@media screen and (min-width: 992px) {
    .img1 {
        >figure {
            width: 260px;
            height: 260px;
        }
    }
}

@media screen and (max-width: 768px) {
    .img1 {
        order: -10;

        >figure {
            width: 200px;
            height: 200px;
        }
    }

    .items-intro {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }

}

.items-intro {

    // padding: 10px;
    .style-shape {
        display: flex;
        justify-content: center;
        align-items: center;
        color: $_myTxtColor;
        font-weight: bold;
        font-size: 15px;
        width: 120px;
        height: 30px;
        border-radius: 30px 30px 30px 0;
        background-color: $_myCyan;

    }

    h1 {
        margin-top: 10px;
        font-size: 55px;
        font-weight: bold;
        font-size: 50px;
    }

    h2 {
        font-size: 20px;
        font-weight: bold;
    }

    li {
        margin: 4px 0;

        a {
            font-size: 13px;

            &:hover {
                color: $_myCyan !important;
            }
        }
    }


}


.second-row {
    background-color: $_myDark;
    min-height: 10vh;

    .cv-Btn {
        div {
            background-color: $_myCyan;
            width: 200px;
            padding: 10px;
            border-radius: 8px;
            box-shadow: 0 2px 2px $_myTxtColor;

            a {
                display: flex;
                width: 100%;
                height: 100%;
                justify-content: center;
                align-items: center;
                font-size: 20px !important;
                color: $_myTxtColor !important;

                &:hover {
                    color: $_myDark !important;
                }
            }
        }
    }
}

.about-me {
    div {
        &:nth-of-type(2) {

            >.sz-ab {
                font-size: 25px;
                font-weight: bold;
            }

            p {
                // padding-top: 20px !important;
                font-size: 13px;
                text-align: justify;
            }
        }
    }

    .pr-items {
        li {
            width: 90px;
            height: 30px;
            border: 2px solid $_myCyan;
            border-radius: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 5px;
        }
    }
}

.third-row {
    // background-color: $_myDark;


    position: relative;
    min-height: 10vh;
    background: url('../img/home-bg-img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.863);
    }

    span {
        font-size: 15px;

        font-weight: bold;
        display: flex;
        margin-top: 30px !important;
    }

    .progress {
        height: 6px !important;
        width: 100%;

        .progress-bar {
            background-color: $_myCyan;
        }
    }


    h3 {
        font-size: 25px;
        font-weight: bold;
    }
}

.fourth-row {
    background-color: $_myDark;
    min-height: 10vh;

    h3 {
        font-size: 20px;
        font-weight: bold;

        a {
            color: $_myCyan !important;
        }
    }

    p {
        font-size: 15px !important;
        font-weight: 100 !important;

    }

    .edu-items {
        border-radius: 5px;
    }

}

.fifth-row {
    min-height: 10vh;
    position: relative;
    min-height: 10vh;
    background: url('../img/home-bg-img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.863);
    }

    h3 {
        font-size: 25px;
        font-weight: bold;
    }


    .frm-port {
        margin-top: 40px;
        border-radius: 20px;
        width: 100%;
        height: 300px;
        overflow: hidden;
        position: relative;

        img {
            width: 100%;
            height: 100%;
        }


        >a {

            &::after {
                content: 'View More';
                display: flex;
                width: 100%;
                height: 0;
                justify-content: center;
                align-items: center;
                color: $_myDark;
                background-color: $_myCyan;
                opacity: .9;
                transition: .2s;
                position: absolute;
                top: 0;
                left: 0;
                visibility: hidden;
            }

            &:hover::after {
                height: 100%;
                visibility: visible;
            }
        }
    }
}

.sixth-row {
    // background-color: $_myDark;
    background-image: url('../img/map-color-overlay.png');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    min-height: 10vh;

    h3 {
        font-size: 20px;
        font-weight: bold;
    }

    .hamkari {
        width: 100%;
        height: 300px;

        img {
            width: 100%;
            height: 100%;
        }

        margin-bottom: 20px;
    }

    a {
        
        &:hover {
            color: $_myCyan !important;
        }
    }

    strong {
        color: $_myCyan;
        font-size: 30px;
    }

    ul {
        li {
            &:hover {
                color: $_myCyan;
            }
        }
    }

    h4 {
        font-size: 20px;
    }

    button {
        background-color: $_myCyan;
        border: none;
        &:hover {
            background-color: $_myCyan;
            color: $_myDark;
        }
    }

}

.copyright {
    text-align: center;
}



// Setting of mobile menu

@media screen and (max-width: 992px) {
    #navbarNav {
        // border: 3px solid red;
        >ul>li {
            border-bottom: 3px solid $_myTxtColor;
        }
    }
}